/*
DevData - Datos de prueba para desarrollo.

IMPORTANTE:
- Este script NO debe incluirse en PostDeployment.sql.
- Ejecutarlo manualmente sobre bases locales o de integración.
- Crea usuarios de prueba y recalcula DVH/DVV para que la validación de integridad siga funcionando.

Usuarios creados:
- usuario.prueba / Prueba123
- operador.prueba / Prueba123
- consulta.prueba / Prueba123

Por simplicidad, los usuarios de prueba usan Id_Rol = 11,
que en la aplicación corresponde al rol Administrador.
*/

SET NOCOUNT ON;
SET XACT_ABORT ON;

BEGIN TRY
    BEGIN TRANSACTION;

    ------------------------------------------------------------
    -- 1. Asegurar rol administrador
    ------------------------------------------------------------

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.PERMISO
        WHERE Id_Permiso = 11
    )
    BEGIN
        SET IDENTITY_INSERT dbo.PERMISO ON;

        INSERT INTO dbo.PERMISO (
            Id_Permiso,
            Nombre_Permiso,
            Tipo_Permiso
        )
        VALUES (
            11,
            'Administrador',
            'ROL'
        );

        SET IDENTITY_INSERT dbo.PERMISO OFF;
    END
    ELSE
    BEGIN
        UPDATE dbo.PERMISO
        SET
            Nombre_Permiso = 'Administrador',
            Tipo_Permiso = 'ROL'
        WHERE Id_Permiso = 11;
    END;


    ------------------------------------------------------------
    -- 2. Perfiles de prueba, si existe la tabla PERFIL
    ------------------------------------------------------------

    IF OBJECT_ID('dbo.PERFIL', 'U') IS NOT NULL
    BEGIN
        IF NOT EXISTS (
            SELECT 1
            FROM dbo.PERFIL
            WHERE Id_Perfil = 1
        )
        BEGIN
            INSERT INTO dbo.PERFIL (
                Id_Perfil,
                Descripcion_Perfil
            )
            VALUES (
                1,
                'Administrador'
            );
        END;

        IF NOT EXISTS (
            SELECT 1
            FROM dbo.PERFIL
            WHERE Id_Perfil = 2
        )
        BEGIN
            INSERT INTO dbo.PERFIL (
                Id_Perfil,
                Descripcion_Perfil
            )
            VALUES (
                2,
                'Operador de prueba'
            );
        END;

        IF NOT EXISTS (
            SELECT 1
            FROM dbo.PERFIL
            WHERE Id_Perfil = 3
        )
        BEGIN
            INSERT INTO dbo.PERFIL (
                Id_Perfil,
                Descripcion_Perfil
            )
            VALUES (
                3,
                'Consulta de prueba'
            );
        END;
    END;


    ------------------------------------------------------------
    -- 3. Roles adicionales de prueba
    ------------------------------------------------------------

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.PERMISO
        WHERE Nombre_Permiso = 'Operador de prueba'
          AND Tipo_Permiso = 'ROL'
    )
    BEGIN
        INSERT INTO dbo.PERMISO (
            Nombre_Permiso,
            Tipo_Permiso
        )
        VALUES (
            'Operador de prueba',
            'ROL'
        );
    END;

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.PERMISO
        WHERE Nombre_Permiso = 'Consulta de prueba'
          AND Tipo_Permiso = 'ROL'
    )
    BEGIN
        INSERT INTO dbo.PERMISO (
            Nombre_Permiso,
            Tipo_Permiso
        )
        VALUES (
            'Consulta de prueba',
            'ROL'
        );
    END;


    ------------------------------------------------------------
    -- 4. Usuarios de prueba
    ------------------------------------------------------------

    /*
    La contraseña de los usuarios de prueba es: Prueba123

    Se guarda el hash SHA2_256 en minúsculas, compatible con
    Servicios.CryptoManager.Hash para textos ASCII.
    */

    DECLARE @ClavePrueba VARCHAR(64);

    SET @ClavePrueba =
        LOWER(CONVERT(VARCHAR(64),
            HASHBYTES(
                'SHA2_256',
                CONVERT(VARBINARY(MAX), 'Prueba123')
            ),
        2));


    ------------------------------------------------------------
    -- usuario.prueba
    ------------------------------------------------------------

    IF EXISTS (
        SELECT 1
        FROM dbo.USUARIO
        WHERE Nombre_Usuario = 'usuario.prueba'
    )
    BEGIN
        UPDATE dbo.USUARIO
        SET
            Clave_Usuario = @ClavePrueba,
            Borrado_Usuario = 0,
            Id_Rol = 11
        WHERE Nombre_Usuario = 'usuario.prueba';
    END
    ELSE
    BEGIN
        DECLARE @IdUsuarioPrueba INT;

        IF NOT EXISTS (
            SELECT 1
            FROM dbo.USUARIO
            WHERE Id_Usuario = 1001
        )
            SET @IdUsuarioPrueba = 1001;
        ELSE
            SELECT @IdUsuarioPrueba = ISNULL(MAX(Id_Usuario), 0) + 1
            FROM dbo.USUARIO;

        INSERT INTO dbo.USUARIO (
            Id_Usuario,
            Nombre_Usuario,
            Clave_Usuario,
            Borrado_Usuario,
            dvh_Usuario,
            Id_Rol
        )
        VALUES (
            @IdUsuarioPrueba,
            'usuario.prueba',
            @ClavePrueba,
            0,
            NULL,
            11
        );
    END;


    ------------------------------------------------------------
    -- operador.prueba
    ------------------------------------------------------------

    IF EXISTS (
        SELECT 1
        FROM dbo.USUARIO
        WHERE Nombre_Usuario = 'operador.prueba'
    )
    BEGIN
        UPDATE dbo.USUARIO
        SET
            Clave_Usuario = @ClavePrueba,
            Borrado_Usuario = 0,
            Id_Rol = 11
        WHERE Nombre_Usuario = 'operador.prueba';
    END
    ELSE
    BEGIN
        DECLARE @IdOperadorPrueba INT;

        IF NOT EXISTS (
            SELECT 1
            FROM dbo.USUARIO
            WHERE Id_Usuario = 1002
        )
            SET @IdOperadorPrueba = 1002;
        ELSE
            SELECT @IdOperadorPrueba = ISNULL(MAX(Id_Usuario), 0) + 1
            FROM dbo.USUARIO;

        INSERT INTO dbo.USUARIO (
            Id_Usuario,
            Nombre_Usuario,
            Clave_Usuario,
            Borrado_Usuario,
            dvh_Usuario,
            Id_Rol
        )
        VALUES (
            @IdOperadorPrueba,
            'operador.prueba',
            @ClavePrueba,
            0,
            NULL,
            11
        );
    END;


    ------------------------------------------------------------
    -- consulta.prueba
    ------------------------------------------------------------

    IF EXISTS (
        SELECT 1
        FROM dbo.USUARIO
        WHERE Nombre_Usuario = 'consulta.prueba'
    )
    BEGIN
        UPDATE dbo.USUARIO
        SET
            Clave_Usuario = @ClavePrueba,
            Borrado_Usuario = 0,
            Id_Rol = 11
        WHERE Nombre_Usuario = 'consulta.prueba';
    END
    ELSE
    BEGIN
        DECLARE @IdConsultaPrueba INT;

        IF NOT EXISTS (
            SELECT 1
            FROM dbo.USUARIO
            WHERE Id_Usuario = 1003
        )
            SET @IdConsultaPrueba = 1003;
        ELSE
            SELECT @IdConsultaPrueba = ISNULL(MAX(Id_Usuario), 0) + 1
            FROM dbo.USUARIO;

        INSERT INTO dbo.USUARIO (
            Id_Usuario,
            Nombre_Usuario,
            Clave_Usuario,
            Borrado_Usuario,
            dvh_Usuario,
            Id_Rol
        )
        VALUES (
            @IdConsultaPrueba,
            'consulta.prueba',
            @ClavePrueba,
            0,
            NULL,
            11
        );
    END;


    ------------------------------------------------------------
    -- 5. Recalcular DVH de usuarios
    ------------------------------------------------------------

    UPDATE dbo.USUARIO
    SET Borrado_Usuario = 0
    WHERE Borrado_Usuario IS NULL;

    UPDATE dbo.USUARIO
    SET dvh_Usuario =
        LOWER(CONVERT(VARCHAR(64),
            HASHBYTES(
                'SHA2_256',
                CONVERT(VARBINARY(MAX),
                    Nombre_Usuario
                    + '|'
                    + Clave_Usuario
                    + '|'
                    + CONVERT(VARCHAR(20), Id_Rol)
                    + '|'
                    + CONVERT(VARCHAR(20), Borrado_Usuario)
                )
            ),
        2));


    ------------------------------------------------------------
    -- 6. Recalcular DVV de Usuario
    ------------------------------------------------------------

    DECLARE @TextoDVV VARCHAR(MAX);

    SELECT @TextoDVV =
    (
        SELECT
            CONVERT(VARCHAR(20), Id_Usuario)
            + Nombre_Usuario
            + Clave_Usuario
            + CONVERT(VARCHAR(20), Id_Rol)
        FROM dbo.USUARIO
        ORDER BY Id_Usuario
        FOR XML PATH(''), TYPE
    ).value('.', 'VARCHAR(MAX)');

    DECLARE @ValorDVV VARCHAR(64);

    SET @ValorDVV =
        LOWER(CONVERT(VARCHAR(64),
            HASHBYTES(
                'SHA2_256',
                CONVERT(VARBINARY(MAX), ISNULL(@TextoDVV, ''))
            ),
        2));

    DELETE FROM dbo.DVV
    WHERE Tabla_DVV IS NULL
       OR LTRIM(RTRIM(Tabla_DVV)) = '';

    IF EXISTS (
        SELECT 1
        FROM dbo.DVV
        WHERE Tabla_DVV = 'Usuario'
    )
    BEGIN
        UPDATE dbo.DVV
        SET Valor_DVV = @ValorDVV
        WHERE Tabla_DVV = 'Usuario';
    END
    ELSE
    BEGIN
        INSERT INTO dbo.DVV (
            Tabla_DVV,
            Valor_DVV
        )
        VALUES (
            'Usuario',
            @ValorDVV
        );
    END;

    COMMIT TRANSACTION;

    PRINT 'Datos de prueba cargados correctamente.';
    PRINT 'Usuarios creados o actualizados: usuario.prueba, operador.prueba, consulta.prueba.';
    PRINT 'Clave para todos los usuarios de prueba: Prueba123.';
    PRINT 'DVH y DVV recalculados correctamente.';

END TRY
BEGIN CATCH
    IF @@TRANCOUNT > 0
        ROLLBACK TRANSACTION;

    DECLARE @MensajeError NVARCHAR(4000) = ERROR_MESSAGE();
    RAISERROR(@MensajeError, 16, 1);
END CATCH;