/*
Seed de idiomas base.

Crea los idiomas disponibles por defecto para la aplicación.
Este script se ejecuta desde PostDeployment.sql.
*/

MERGE dbo.IDIOMA AS destino
USING (
    SELECT N'es-AR' AS Codigo_Idioma, N'Español Argentina' AS Nombre_Idioma, CAST(1 AS BIT) AS EsDefault, CAST(1 AS BIT) AS Habilitado_Idioma
    UNION ALL SELECT N'en-US', N'English', CAST(0 AS BIT), CAST(1 AS BIT)
    UNION ALL SELECT N'pt-BR', N'Português', CAST(0 AS BIT), CAST(1 AS BIT)
) AS origen
ON destino.Codigo_Idioma = origen.Codigo_Idioma
WHEN MATCHED THEN
    UPDATE SET
        Nombre_Idioma = origen.Nombre_Idioma,
        Habilitado_Idioma = origen.Habilitado_Idioma,
        EsDefault = origen.EsDefault
WHEN NOT MATCHED THEN
    INSERT (
        Codigo_Idioma,
        Nombre_Idioma,
        EsDefault,
        Habilitado_Idioma
    )
    VALUES (
        origen.Codigo_Idioma,
        origen.Nombre_Idioma,
        origen.EsDefault,
        origen.Habilitado_Idioma
    );

-- Asegura que solamente es-AR quede como idioma por defecto.
UPDATE dbo.IDIOMA
SET EsDefault = CASE WHEN Codigo_Idioma = N'es-AR' THEN 1 ELSE 0 END;
