/*
Seed de seguridad básica.

Crea el rol Administrador y un usuario administrador inicial.
Este script es idempotente: puede ejecutarse varias veces sin duplicar datos.

IMPORTANTE:
- El código de FrmLogin considera administrador al usuario con Id_Rol = 11.
- Por eso se fuerza que el rol Administrador exista como PERMISO.Id_Permiso = 11.
*/

DECLARE @IdRolAdministrador INT = 11;
DECLARE @NombreUsuarioAdmin VARCHAR(50) = 'admin';

/*
Reemplazar este valor por el hash real usado por la aplicación.

Recomendación:
copiar el valor de Clave_Usuario del usuario administrador
desde la base unificada IngSoftDB.
La clave es 'admin'
*/
DECLARE @ClaveAdmin VARCHAR(64) = '8c6976e5b5410415bde908bd4dee15dfb167a9c873fc4bb8a81f6f2ab448a918';


/* Crear o actualizar rol Administrador */

IF EXISTS (
    SELECT 1
    FROM dbo.PERMISO
    WHERE Id_Permiso = @IdRolAdministrador
)
BEGIN
    UPDATE dbo.PERMISO
    SET
        Nombre_Permiso = 'Administrador',
        Tipo_Permiso = 'ROL'
    WHERE Id_Permiso = @IdRolAdministrador;
END
ELSE
BEGIN
    SET IDENTITY_INSERT dbo.PERMISO ON;

    INSERT INTO dbo.PERMISO (
        Id_Permiso,
        Nombre_Permiso,
        Tipo_Permiso
    )
    VALUES (
        @IdRolAdministrador,
        'Administrador',
        'ROL'
    );

    SET IDENTITY_INSERT dbo.PERMISO OFF;
END;


/* Crear o actualizar usuario administrador */

IF EXISTS (
    SELECT 1
    FROM dbo.USUARIO
    WHERE Nombre_Usuario = @NombreUsuarioAdmin
)
BEGIN
    UPDATE dbo.USUARIO
    SET
        Id_Rol = @IdRolAdministrador,
        Borrado_Usuario = 0
    WHERE Nombre_Usuario = @NombreUsuarioAdmin;
END
ELSE
BEGIN
    DECLARE @IdUsuarioAdmin INT;

    IF NOT EXISTS (
        SELECT 1
        FROM dbo.USUARIO
        WHERE Id_Usuario = 1
    )
    BEGIN
        SET @IdUsuarioAdmin = 1;
    END
    ELSE
    BEGIN
        SELECT @IdUsuarioAdmin = ISNULL(MAX(Id_Usuario), 0) + 1
        FROM dbo.USUARIO;
    END

    INSERT INTO dbo.USUARIO (
        Id_Usuario,
        Nombre_Usuario,
        Clave_Usuario,
        Borrado_Usuario,
        dvh_Usuario,
        Id_Rol
    )
    VALUES (
        @IdUsuarioAdmin,
        @NombreUsuarioAdmin,
        @ClaveAdmin,
        0,
        NULL,
        @IdRolAdministrador
    );
END;