/*
Seed de integridad inicial.

Calcula el DVH de los usuarios existentes y el DVV de la tabla Usuario.
Este script permite que una base creada desde cero arranque con integridad válida.

IMPORTANTE:
Este script está pensado para inicialización de entorno de desarrollo/integración.
*/

-- Asegurar que Borrado_Usuario no quede NULL, porque el código C# hace int.Parse.
UPDATE dbo.USUARIO
SET Borrado_Usuario = 0
WHERE Borrado_Usuario IS NULL;


-- Calcular DVH de cada usuario según la misma fórmula usada por GestorIntegridad.ValidarIntegridadDVH:
-- CryptoManager.Hash($"{u.Nombre}|{u.Clave}|{u.Id_Rol}|{u.Borrado}")
UPDATE dbo.USUARIO
SET dvh_Usuario =
    LOWER(CONVERT(VARCHAR(64),
        HASHBYTES(
            'SHA2_256',
            CONVERT(VARBINARY(MAX),
                Nombre_Usuario
                + '|'
                + Clave_Usuario
                + '|'
                + CONVERT(VARCHAR(20), Id_Rol)
                + '|'
                + CONVERT(VARCHAR(20), Borrado_Usuario)
            )
        ),
    2));


-- Calcular DVV según la misma fórmula usada por GestorIntegridad.Calcular:
-- sb.Append(u.Id_Usuario).Append(u.Nombre).Append(u.Clave).Append(u.Id_Rol)
DECLARE @TextoDVV VARCHAR(MAX);

SELECT @TextoDVV =
(
    SELECT
        CONVERT(VARCHAR(20), Id_Usuario)
        + Nombre_Usuario
        + Clave_Usuario
        + CONVERT(VARCHAR(20), Id_Rol)
    FROM dbo.USUARIO
    ORDER BY Id_Usuario
    FOR XML PATH(''), TYPE
).value('.', 'VARCHAR(MAX)');

DECLARE @ValorDVV VARCHAR(64);

SET @ValorDVV =
    LOWER(CONVERT(VARCHAR(64),
        HASHBYTES(
            'SHA2_256',
            CONVERT(VARBINARY(MAX), ISNULL(@TextoDVV, ''))
        ),
    2));


-- Evitar registros vacíos en DVV.
DELETE FROM dbo.DVV
WHERE Tabla_DVV IS NULL
   OR LTRIM(RTRIM(Tabla_DVV)) = '';


-- Crear o actualizar el DVV de Usuario.
IF EXISTS (
    SELECT 1
    FROM dbo.DVV
    WHERE Tabla_DVV = 'Usuario'
)
BEGIN
    UPDATE dbo.DVV
    SET Valor_DVV = @ValorDVV
    WHERE Tabla_DVV = 'Usuario';
END
ELSE
BEGIN
    INSERT INTO dbo.DVV (
        Tabla_DVV,
        Valor_DVV
    )
    VALUES (
        'Usuario',
        @ValorDVV
    );
END;